<h1>To Do List</h1>

<!-- Container for displaying the total number of To Dos and a link to add a new one -->
<div>
  <!-- Displays the count of To Dos, which is passed from the Go server to the template -->
  <!-- {{.ToDoCount}} is a placeholder that will be replaced by the actual count of To Dos -->
  {{.ToDoCount}} To Dos
  
  <!-- Link to the "Add a To Do" page where users can add a new item -->
  <a href="/new">Add a To Do</a>
</div>

<!-- Container for displaying the list of To Dos -->
<div>
  <!-- Iterates over the list of ToDos (passed from the Go server) using the range action -->
  <!-- {{range .ToDos}} starts the loop over the slice of ToDos -->
  {{range .ToDos}}
  <!-- For each To Do in the list, a <p> element is created displaying the item -->
  <p>
    {{.}}
  </p>
  <!-- {{end}} marks the end of the range loop -->
  {{end}}
</div>
